.style-each-review-box{
  padding: 1em;
  margin:0.5em;
  font-style: italic;
  font-family: serif;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #dac9c9b8;
  background-color: #fafafa;
}
.center-elem{
  width:90%;
  margin: auto !important;

}

.align-images{
  margin-top:5em;
}

.testimonial{
    margin: 0 15px;
    overflow: hidden;
}

.demo
{
  margin-top: 5em;
	padding: 100px 0;
}
.heading-title
{
	margin-bottom: 100px;
        color: #ff9900;
}
.testimonial .description{
    position: relative;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    padding: 30px 20px;
    border: 1px solid #767070;
    border-left: 3px solid #ff9900;
}

.testimonial .description:after{
    content: "";
    width: 20px;
    height: 20px;
    background: #3d3d3d;
    border-bottom: 1px solid #767070;
    border-left: 1px solid #767070;
    position: absolute;
    bottom: -11px;
    left: 65px;
    transform: skewY(-45deg);
}

.testimonial .pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 30px 10px;
    display: inline-block;
    border: 3px solid  #ff9900;
}

.testimonial .pic img{
    width: 100%;
    height: auto;
}

.testimonial .testimonial-prof{
    text-transform: capitalize;
    margin: 0 30px;
}

.testimonial .testimonial-prof h4{
    color: #ff9900;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.testimonial .testimonial-prof small{
    display: block;
    font-size: 14px;
    color: #fff;
}

.owl-theme .owl-controls{
    margin-top:45px;
}

.owl-theme .owl-controls .owl-buttons div{
    border-radius: 0;
    background: #ff9900;
    padding: 15px 20px;
    opacity: 1;
    border: 1px solid transparent;
    transition: all 0.30s linear 0s;
}

.owl-theme .owl-controls .owl-buttons div:hover{
    background: transparent;
    border: 1px solid #ff9900;
}

.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: 'FontAwesome';
    color: #fff;
}

.owl-next:before{
    content: "\f054";
}

@media only screen and (max-width: 480px){
    .owl-theme .owl-controls{
        margin-top: 25px;
    }
    .center-elem{
      width:auto;
      margin: 0 0 0 0;
    }
    .demo
    {
      margin-top: 0;
    }
    .align-images{
      margin-top:auto;
    }
}
@charset "utf-8";
/* CSS Document */
